header {
  background-color: #393d3f;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  font-family: 'Poppins', sans-serif;
}

header img {
  width: 5rem;
}

nav ul {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav ul li {
  transition: transform 0.4s ease-out;
}

nav ul li a {
  color: #eee;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li:hover {
  color: #62929e;
}
